<div class="containerone">
    <div class="box1">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">quote</th>
            <th scope="col">uppvotes</th>
            <th scope="col">downvotes</th>
            <th scope="col">time</th>
            <th scope="col">more details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quote of quotes; let i = index">
            <td>{{ quote.quote }}</td>
  
            <td>{{ quote.upvotes }}</td>
            <td>{{ quote.downvotes }}</td>
  
            <td>
              <button (click)="toggleDetails(i)" class="btn btn-outline-primary">
                details
              </button>
            </td>
            <div *ngIf="quote.showdetails">
              <quotes-details
                [quote]="quote"
                (ifSure)="deleteTheQuote($event, i)"
              ></quotes-details>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- <div class="box2">
      <quote-form (addQuote)="addNewQuote($event)"></quote-form>
    </div>
  </div> -->
  
