.containerone {
  width: 80vw;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
}
.box1 {
  
  width: 50vw;
  color: black;
  background-color: aliceblue;
}
.box2 {
  height: 80vh;
  width: 30vw;
  color: black;
  background-color: aliceblue;
}
.box3{
  width: 350px;
  border: solid 1px black;
  text-align: center;
  
}
